@font-face{
    font-family: 'Dosis Regular';
    font-weight: 400;
    src: url('../fonts/Dosis-Regular.ttf');
}

body{
    font-family: 'Dosis Regular';
    font-weight: 400;
    font-size: 1.2rem;
}

img{
    width: 100%;
    height: 300px;
}

.navbar-brand{
    color: #ffffff;
    font-weight: Bold;
    font-size: 30px;;
}

#search-text{
    font-size: 1.3rem;
}

#result h2,
.card-title{
    text-transform: capitalize;
}

.btn{
    font-size: 1.1rem;
}